<div class = 'container'>
  <div class='row'>
    <div class='col-sm-4'>
      <h1> Angular HttpClient</h1>
      <ul class='nav justify-content-center'>
        <li class='nav-item'>
          <!-- routerlink='surveys' class='btn btn-light btn-sm' role='button' routerlinkActive='active'>Retrieve</a> -->
          <a [routerLink]="['/surveys']" class='btn btn-light btn-sm' role='button' routerLinkActive="router-link-active">List</a>
        </li>
        <li class='nav-item'>
          <a [routerLink]="[ '/survey/add' ]"  class='btn btn-light btn-sm' role='button' routerLinkActive="active">Add</a> 
        </li>
      </ul>
      <hr>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>